/* fonts */

.NS-400 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100,
        "YTLC"500;
}

.NS-800 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth"100,
        "YTLC"500;
}

/*  */

body {}

.main {
    /* min-width: 375px; */
    height: auto;
    background: rgb(242, 255, 220);

}

.main-users {
    display: flex;
    justify-content: center;
}

.main-profile {
    height: auto;
    display: flex;
    justify-content: center;
}

.home-page {
    padding: 75px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page__img {
    width: 302px;
    height: 355px;
    position: relative;
    margin-bottom: 75.45px;
}

.home-page__img picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.home-page__logo {
    margin-bottom: 48px;
}

.home-page__text {
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.16px;
    text-align: center;
    margin-bottom: 51px;
}

.home-page__btn {
    width: 304px;
    height: 53px;
    margin-bottom: 51px;
}

.rose-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 800;
    line-height: 23.5px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 100px;
    background: rgb(229, 33, 143);
    text-decoration: none;
}

.site-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 36px;
    background: rgb(71, 74, 84);
}

.site-header.header-registered {
    padding: 0 20px;
}

.back-btn,
.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    background: rgb(242, 255, 220);
    margin-right: 32px;
}

.header-registered .back-btn,
.header-registered .user-icon {
    margin-right: 15px;
}

.user-icon {
    margin-left: 20px;
}

.back-btn svg,
.user-icon svg {
    fill: rgb(71, 74, 84);
}

.company-logo img {
    width: 166px;
    height: 46px;
}

.user-icon {}

.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: rgb(242, 255, 220);
}

.site-footer__links {
    max-width: 375px;
    display: flex;
    justify-content: center;
    padding: 0 37px;
}

.site-footer a {
    display: block;
    color: rgb(45, 47, 54);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-right: 10px;
}

.site-footer a:last-child {
    margin-right: 0;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 0 0;
}

.registration-title {
    color: rgb(45, 47, 54);
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 38px;
}

.registration-form {
    width: 375px;
}

.form-row__item {
    display: flex;
    flex-direction: column;
    margin: 0 37px 14px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    color: rgb(45, 47, 54);
    font-size: 16px;
    line-height: 133.9%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 5px 8px;
}

.form-input {
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    box-sizing: border-box;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 100px;
    background: rgba(196, 196, 196, 0);
}

.form-input::placeholder {
    color: rgb(45, 47, 54);
    font-size: 18px;
    line-height: 23.5px;
    text-align: left;
}

.input-error,
.name-error,
.name2-error,
.counry-error {
    color: rgb(167, 10, 17);
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    margin: 10px 0 0 20px;
}

.form_toggle {
    display: flex;
    flex-direction: column;
    margin: 0 37px 14px;
}

.form-toggle__container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    width: 304px;
    height: 51px;
    box-sizing: border-box;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 30px;
    padding: 2px;
}


.form_toggle-item {
    float: left;
    display: inline-block;
}

.form_toggle-item input[type=radio],
.form_choice input[type=checkbox] {
    display: none;
}

.form_toggle-item label {
    width: 147px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    user-select: none;
}


.form-choices {
    display: flex;
    flex-direction: column;
    margin: 0 37px 38px;
}

.form-span {
    font-size: 16px;
    line-height: 133.9%;
    margin-bottom: 8px;
}

.form-choices__container {
    display: flex;
    flex-wrap: wrap;
}

.form_choice {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 30px;
    margin-bottom: 10px;
}

.form_choice label {
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    user-select: none;
}

.form_choice input[type=checkbox]:checked+label,
.form_toggle .item-1 input[type=radio]:checked+label,
.form_toggle .item-2 input[type=radio]:checked+label {
    background: rgb(190, 199, 175);
}


.distance-slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
}

.distance-slider__span {
    color: rgb(45, 47, 54);
    font-family: Nunito Sans;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 30px;
}

.distance-slider__container {
    position: relative;
    width: 375px;
}

.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.labels span:last-child {
    right: 5px;
    margin-right: 10px;
}

.tooltip {
    position: absolute;
    left: 20px;
    top: -25px;
    z-index: 10;
    padding: 0 17px 0 10px;
    border-radius: 4px;
    transform: translateX(-50%);
    white-space: nowrap;
    color: rgb(45, 47, 54);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    width: auto;
    height: 20px;
    background-color: rgb(242, 255, 220);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.distance-slider__container input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 9px;
    background: linear-gradient(to right, rgb(130, 130, 130)0%, rgb(130, 130, 130)50%, rgb(190, 199, 175)50%, rgb(190, 199, 175) 100%);
    outline: none;
    border-radius: 5px;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(229, 33, 143);
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    /* margin-top: -7px;  */
}

input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: rgb(229, 33, 143);
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    /* margin-top: -7px;  */
}

.registration-form__btn {
    width: 304px;
    height: 53px;
    margin: 0 auto;
}


.users {
    max-width: 1380px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.user {
    display: flex;
    flex-direction: column;
    margin: 0 8px 33px 0;
    height: 190px;
}

.user-photo {
    width: 155px;
    height: 155px;
    position: relative;
    border-radius: 25px 25px 0 0;
    margin-bottom: 10px;
}

.user-photo img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.user__choice-btns {
    display: flex;
}

.block-btn {
    width: 72px;
    height: 30px;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid rgb(229, 33, 143);
    border-radius: 20px;
    color: rgb(229, 33, 143);
    font-size: 13px;
    line-height: 23.5px;
    margin-right: 10px;
}

.block-btn svg {
    fill: rgb(229, 33, 143);
}

.chat-btn {

    width: 72px;
    height: 30px;
    background-color: rgb(229, 33, 143);
    box-sizing: border-box;

    border-radius: 20px;
    color: white;
    font-size: 13px;
    line-height: 23.5px;

}

.chat-btn svg {
    width: 15px;
    height: 13px;
    fill: white;
    margin-top: 3px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(242, 255, 220);
    z-index: 1000;
    width: 550px;
}

.popup .popup-content {
    text-align: center;
}

.popup .popup-content button {
    margin: 10px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: 999;
}

.close-btn {
    position: absolute;
    top: 14px;
    right: 17px;
}
.popup-content {
    margin-top: 50px;
}
.popup-content h3{
    margin-bottom: 30px;
}

.popup-btns {
    display: flex;
}
.popup-btns .delete-btn {
    width: 230px;
height: 53px;
border-radius: 100px;
background: rgb(229, 33, 143);
color: rgb(242, 255, 220);
font-size: 18px;
line-height: 23.5px;
text-align: center;
}
.popup-btns .cancel-btn {
    width: 230px;
height: 53px;
border-radius: 100px;
background: transparent;
border: 2px solid rgb(229, 33, 143);
color: rgb(229, 33, 143);
font-size: 18px;
line-height: 23.5px;

text-align: center;
}
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 78px 0;
}

.user__choice__btns-profile {
    display: flex;
}

.user-photo__profile {
    width: 469px;
    height: 703px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 78px;
}

.user-photo__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.user__choice__btns-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.chat-btn__profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -115px;
    background-color: rgb(229, 33, 143);
}

.chat-btn__profile svg {
    width: 37px;
    height: 34px;
    fill: white;
}
.user__choice__btns-profile .block-btn{
    width: 304px;
height: 53px;
}
.user-chat {
    width: 100%;
}

.chat-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid rgb(190, 199, 175);
}

.user-photo__chat {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.chat-container {
    height:553px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 25px;
}

/* .chat-container__top{
    width: 350px;
} */
.user-line {
    display: flex;
    margin: 29px 0;
}

#user-photo .user-photo__chat {
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

.user-msg {
    width: 207px;
    min-height: 42px;
    border-radius: 0px 15px 15px 15px;
    background: rgb(247, 187, 221);
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;
}

.gest-msg {
    align-self: self-end;
    width: 161px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 15px 15px;
    background: rgb(222, 234, 203);

    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: center;
}

.gest-msg-enter {
    height: 85px;
    border-top: 1px solid rgb(190, 199, 175);
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}

.gest-msg-enter input {
    width: 243px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(130, 130, 130);
    border-radius: 100px;
    background: rgba(196, 196, 196, 0);
    padding-left: 18px;
    margin-right: 10px;
}

.gest-msg-enter input::placeholder {
    color: rgb(45, 47, 54);
    font-size: 18px;
    font-weight: 400;
    line-height: 23.5px;

}
.gest-msg-enter button{
    width: 51px;
height: 51px;
border-radius: 50%;
background: rgb(229, 33, 143);
display: flex;
justify-content: center;
align-items: center;
}
.gest-msg-enter button svg{
fill: white;
}

/* media */
@media(max-width:480px) {
    .user-photo__profile {
        width: 345px;
        height: 503px;
    }
    .popup{
        width: 304px;
    }
    .popup-btns{
        flex-direction: column;
        align-items: center;
    }
    .popup-btns .delete-btn{
        margin-bottom: 10px;
    }
}